<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
       <h1>
           Successfully logged in with email <i>"<%=email%>"</i>
       </h1>
       <h2>You session will expire after 1 min</h2>
       <p>If you want to Logout Now <a href="/api/logout">Click Here</a></p>
    </div>
    
</body>
</html>