<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <h3>Login Form</h3>
    <h2 style="color:red"> <%=(typeof alertMsg!='undefined')? alertMsg:''%></h2>
    <form method="post" action="/api/login">

            <input type="email" placeholder="Email" class="form-control" name="email" required>
   
            <input type="password" placeholder="Password" class="form-control" name="password" required>
      
            <button type="submit" class="btn btn-default">Login </button>
            
       <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
</div>
</body>
</html>