<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
        <h3>Registration Form</h3>
      <h2 style="color:brown"> <%=(typeof alertMsg!='undefined')? alertMsg:''%></h2>
      <form method="post" action="/api/register" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First Name" name="fname" required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Last Name Name"  class="form-control" name="lname" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="email"  class="form-control" name='email' required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" name="password" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Confirm Password" class="form-control" name="confirm_password" required>
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Register Now</button>
      </div>
      
      <div class="form-group">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
      </form>
   
    </div>
</body>
</html>