input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
  }

  .btn {
      padding: 5px 15px;
      background: white;
      outline: none;
      border: 1px solid black;
  }

  .btn:hover{
      background: green;
      color: white;
  }